# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/

# Distribution / packaging
*.egg-info/
dist/
build/

# IDE
.idea/
.vscode/
*.swp

# Environment variables
.env

# pytest
.pytest_cache/
